.option-selection {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    padding: 30px;
    margin: 40vh auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #c2c2c2;
}

.option-selection a {
    text-decoration: none;
    color: #3e4f3f;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin: 5px auto;
}

.option-selection a:hover {
    background-color: #bdbdbd;
    transition: .2s;
}
