table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 90%;
    font-weight: bold;
    background: #dddddd;
    border-radius: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #222623;
}

tr:hover {background-color: #f1f1f1;}
