.user-form {
    display: flex;
    align-items: center;
    text-align: center;
    width: 360px;
    padding: 30px;
    background: #f1f1f1;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #c2c2c2;
}

.user-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

.user-form h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 33px;
    font-weight: bold;
    margin: 15px;
    color: #3e4f3f;
    text-shadow: none;
}

.user-form__a {
    text-decoration: none;
    color: #3e4f3f;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin: 10px auto;
}

.user-form input {
    display: block;
    width: 85%;
    height: 30px;
    padding: 10px;
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    border-radius: 5px;
}

.user-form select {
    width: 85%;
    height: 30px;
    margin: 5px;
}

.user-form input[type=checkbox] {
    height: 20px;
}

.user-form label {
    width: 80%;
    margin-bottom: 4px;
    margin-top: 4px;
}

input[type=submit], a {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
}

input[type=submit]:hover, a:hover:not(.history-ctrl-btn):not(.nav__a) {
    background-color: #a9cb90;
    transition: .2s;
}

span {
    color: indianred;
}

.widget_button:hover {
    background-color: #bdbdbd;
    transition: .2s;
}

.category-list, .category-list a {
    text-decoration: none;
    color: #3e4f3f;
    margin: 5px auto;
    border-radius: 10px;
    padding: 4px;
}
